<section class="block block--primary player player--me">
  <p class="player-name"><span>M</span>E</p>
  <div class="game-content">
    <div class="block block--accent block--play">
      <img class="icon--winner" src="images/winner.svg" alt="" />
      <img src="/images/question.svg" class="icon--large" alt="" />
    </div>
    <div class="block--accent block--score">
      <p>0</p>
    </div>
  </div>
  <div class="btn-container">
    <button class="btn btn--small">
      <i class="fas fa-fist-raised"></i>
    </button>
    <button class="btn btn--small">
      <i class="fas fa-hand-peace"></i>
    </button>
    <button class="btn btn--small">
      <i class="fas fa-hand-paper"></i>
    </button>
  </div>
</section>

<section class="block block--secondary player player--pc">
  <p class="player-name"><span>P</span>C</p>
  <div class="game-content">
    <div class="block block--accent block--play">
      <img class="icon--winner" src="images/winner.svg" alt="" />
      <img src="/images/question.svg" class="icon--large" alt="" />
    </div>
    <div class="block--accent block--score">
      <p>0</p>
    </div>
  </div>
  <button class="btn btn--large">Suprise 😉</button>
</section>
